@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default {
  --color-bg-primary: white;
  --color-bg-secondary: blue;
  --color-text-primary: black;
  --color-border-primary: red;
}
